<nav class="menu">
  <div class="header">
    <h2>Komis Samochodowy</h2>
  </div>

  <ul class="menu__list">
    <li [routerLinkActive]="['current']" class="menu__list--item">
      <mat-icon fontIcon="grid_view"></mat-icon>
      <a [routerLink]="['dashboard']" [routerLinkActive]="['is-active']">Dashboard</a>
    </li>
    <li [routerLinkActive]="['current']" class="menu__list--item">
      <mat-icon fontIcon="directions_car"></mat-icon>
      <a [routerLink]="['cars']" [routerLinkActive]="['is-active']">Cars</a>
    </li>
    <li [routerLinkActive]="['current']" class="menu__list--item">
      <mat-icon fontIcon="store"></mat-icon>
      <a [routerLink]="['auctions']" [routerLinkActive]="['is-active']">Auctions</a>
    </li>
    <li [routerLinkActive]="['current']" class="menu__list--item">
      <mat-icon fontIcon="person"></mat-icon>
      <a [routerLink]="['users']" [routerLinkActive]="['is-active']">Users</a>
    </li>
    <li [routerLinkActive]="['current']" class="menu__list--item">
      <mat-icon fontIcon="settings"></mat-icon>
      <a [routerLink]="['settings']" [routerLinkActive]="['is-active']">Settings</a>
    </li>
  </ul>
</nav>
