
    <div class="navbar">
        <a href="#"><button mat-raised-button color="primary">Statystyki</button></a>
        <a href="#"><button mat-raised-button color="primary">Ogłoszenia</button></a>
        <a href="#"><button mat-raised-button color="primary">Wiadomości</button></a>
        <a href="#"><button mat-raised-button color="primary">Płatności</button></a>
        <a href="#"><button mat-raised-button color="primary">Ustawienia</button></a>
    </div>

    <div class="main-content button">
        <button mat-raised-button color="primary">Dodaj</button>
        <a href>=./assets/logos/car.png</a>
    </div>
    

    <div class="bottom">
        <div>Znajdź nas:</div>
        <button mat-raised-button color="primary">Kontakt</button>
    </div>