.container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .search-filter {
    width: 45%;
    // margin-left: 40px;
    border: 1px solid rgba(255,255,255,.2);;

    &__header {
      margin-top: 20px;
      margin-left: 20px;
    }

    &__field {
      margin-top: 20px;
      margin-left: 20px;
    }

    &__action {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      &--search {
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100% !important;

    .search-filter {
      width: 90%;
    }
  }
}
