<div class="product-display-view">
  <div class="product-card" *ngFor="let auction of auctions" (click)="showDetail(auction.id)">
    <div class="product-image">
      <img [ngSrc]="auction.car.mainImage" width="400" height="200" alt="BMW 3 Series">
    </div>
    <div class="product-info">
      <h3 class="product-name">{{auction.car.brand}} {{auction.car.model}}</h3>
      <p class="product-price">{{auction.currentPrice}} EUR</p>
      <p class="product-details">{{auction.car.productionDate | date: "yyyy" }} | {{auction.car.capacity}}cm³ | {{auction.car.fuelType | fuelPipeTranslator}} | {{auction.car.mileage}} km | {{auction.car.horsepower}} HP | {{auction.car.bodyType | bodyPipeTranslator}}</p>
      <p class="product-location">{{auction.location}}</p>
    </div>
  </div>
</div>
