.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #9c27b0;

  &__header {
    span {
      margin-left: 20px;
      font-size: 1.3em;
      font-weight: bold;
    }
  }

  &__panel {
    margin-right: 20px;
  }
}
