<div class="background"></div>
<div class="container">
  <div class="header">
    <button mat-icon-button (click)="switchMenuState()">
      <span class="material-icons">close</span>
    </button>
  </div>

  <ul class="menu">
    <li class="menu__item" (click)="switchMenuState()" [routerLink]="['/panel/dashboard']">Search</li>
    <li class="menu__item" (click)="switchMenuState()" [routerLink]="['/panel/auctions']">Auctions</li>
    <li class="menu__item" (click)="switchMenuState()" [routerLink]="['/user/panel']">User panel</li>
  </ul>
</div>
