<div class="details-info">
  <h3 class="details-info__header">Details</h3>


  <div class="details-info__details">
    <div>
      <p>Brand: {{car?.brand}}</p>
      <p>Model: {{car?.model}}</p>
      <p>Generation: {{car?.generation}}</p>
    </div>

    <div class="spacer-left">
      <p>Capacity: {{car?.capacity}} cm³</p>
      <p>Horsepower: {{car?.horsepower}} HP</p>
      <p>Mileage: {{car?.mileage}} km</p>
    </div>

    <div class="spacer-left" *ngIf="car">
      <p>Body type: {{car.bodyType | bodyPipeTranslator}}</p>
      <p>Fuel type: {{car.fuelType | fuelPipeTranslator}}</p>
      <p>Year of production: {{car.productionDate | date: 'yyyy/M/dd'}}</p>
    </div>
  </div>
</div>
