<div class="details-info" *ngIf="auction">
  <h3 class="details-info__header">Details</h3>

<div>
  <ul>
    <li><span class="label">Brand</span><span class="value">{{auction.car.brand}}</span></li>
    <li><span class="label">Model</span><span class="value">{{auction.car.model}}</span></li>
    <li><span class="label">Generation</span><span class="value">{{auction.car.generation}}<sup>3</sup></span></li>
    <li><span class="label">Fuel Type</span><span class="value">{{auction.car.fuelType}}</span></li>
    <li><span class="label">Body Type</span><span class="value">{{auction.car.bodyType}}</span></li>
    <li><span class="label">Production Date</span><span class="value">{{auction.car.productionDate}}</span></li>
    <li><span class="label">Capacity</span><span class="value">{{auction.car.capacity}}</span></li>
    <li><span class="label">Horsepower</span><span class="value">{{auction.car.horsepower}}</span></li>
    <li><span class="label">Mileage</span><span class="value">{{auction.car.mileage}}</span></li>
  </ul>
</div>

</div>
