<div class="main-panel">
  <mat-tab-group>
    <mat-tab label="Winner auctions">
      <app-winner-auction-presenter></app-winner-auction-presenter>
    </mat-tab>
    <mat-tab label="Followed cars">
      <app-purchased-cars-presenter></app-purchased-cars-presenter>
    </mat-tab>
    <mat-tab label="Sell your car">
      <app-sell-cars-presenter></app-sell-cars-presenter>
    </mat-tab>
    <mat-tab label="My payments">
      <app-my-payments-presenter></app-my-payments-presenter>
    </mat-tab>
  </mat-tab-group>
</div>
