<nav class="menu">
  <div class="header">
    <h2>Exotic AH</h2>
  </div>

  <div class="menu__container">
    <ul class="menu__list">
      <li class="menu__list--item">
        <mat-icon fontIcon="grid_view"></mat-icon>
        <a [routerLink]="['/panel/dashboard']" [routerLinkActive]="['is-active']">Search car</a>
      </li>
      <li class="menu__list--item">
        <mat-icon fontIcon="store"></mat-icon>
        <a [routerLink]="['/panel/auctions']" [routerLinkActive]="['is-active']">All Auctions</a>
      </li>
    </ul>

    <ul class="menu__list">
      <li class="menu__list--profile" *ngIf="loggedIn">
        <span>User panel</span>
        <button mat-icon-button color="accent" [routerLink]="['/user/panel']">
          <mat-icon>person</mat-icon>
        </button>
      </li>
      <li *ngIf="!loggedIn">
        <button mat-raised-button color="accent" [routerLink]="['/auth/login']">Log in</button>
      </li>
    </ul>
  </div>
</nav>
