<nav class="menu">
  <div class="header">
    <h2>Exotic AH</h2>
  </div>

  <ul class="menu__list">
    <li class="menu__list--item">
      <mat-icon fontIcon="add"></mat-icon>
      <a>Create Auction</a>
    <li class="menu__list--item">
      <mat-icon fontIcon="grid_view"></mat-icon>
      <a [routerLink]="['/panel/dashboard']" [routerLinkActive]="['is-active']">Search car</a>
    <li class="menu__list--item">
      <mat-icon fontIcon="store"></mat-icon>
      <a [routerLink]="['/panel/auctions']" [routerLinkActive]="['is-active']">All Auctions</a>
    <li class="menu__list--item">
      <mat-icon fontIcon="shopping_cart"></mat-icon>
      <a>My Bids</a>
    <li class="menu__list--item">
      <mat-icon fontIcon="favorite"></mat-icon>
      <a>Followed</a>
      </li>
    <li class="menu__list--profile">
      <button mat-icon-button> <mat-icon>person</mat-icon></button>
    </li>
  </ul>
</nav>
