<div class="auction" *ngIf="auction">
  <div class="auction__image">
    <img src="https://autogen.pl/cars/_mini/Por992TurboS-850x430.jpg" alt="Desc" />
  </div>
  <div class="auction__information">
    <h3>{{setFullName()}}</h3>

    <div class="auction__information--details">
      <span>
        {{auction.car.productionDate | date: 'yyyy'}} |
      </span>

      <span>
        {{auction.car.mileage}} km |
      </span>

      <span>
        {{auction.car.fuelType | fuelPipeTranslator}} |
      </span>

      <span>
        {{auction.car.bodyType | bodyPipeTranslator}}
      </span>
    </div>

    <h2 class="auction__information--price">{{auction.currentPrice}} EUR</h2>

    <div class="auction__information--action">
      <button mat-raised-button color="primary">Buy</button>
      <button mat-raised-button color="accent" [routerLink]="['/user/bet/', auction.id]">Bid</button>
    </div>
  </div>
</div>
