<div class="auction" *ngIf="auction">
  <div class="auction__image">
    <div class="auction__image--arrows">
      <button mat-icon-button color="primary" (click)="changeImage(-1)">
        <mat-icon fontIcon="arrow_back"></mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="changeImage(1)">
        <mat-icon fontIcon="arrow_forward"></mat-icon>
      </button>
    </div>
    <img [src]="images[currentImage]" alt="Desc" />
    <div class="auction__image--counter">
      <b>{{currentImage + 1}}/{{images.length}}</b>
    </div>
  </div>
  <div class="auction__information">
    <div class="auction__information--name">
      <h3>{{setFullName()}}</h3>
      <button *ngIf="loggedIn" mat-icon-button [ngStyle]="{ 'color' : isFavorite ? 'red' : 'white' } " (click)="setFavorite()">
        <mat-icon fontIcon="favorite"></mat-icon>
      </button>
    </div>

    <div class="auction__information--details">
      <span>
        {{auction.car.productionDate | date: 'yyyy'}} |
      </span>

      <span>
        {{auction.car.mileage}} km |
      </span>

      <span>
        {{auction.car.fuelType | fuelPipeTranslator}} |
      </span>

      <span>
        {{auction.car.bodyType | bodyPipeTranslator}}
      </span>
    </div>

    <h2 class="auction__information--price">{{auction.currentPrice}} EUR</h2>

    <div class="auction__information--action" *ngIf="loggedIn">
      <button mat-raised-button color="primary" (click)="createPayment()">Buy</button>
      <button mat-raised-button color="accent" [routerLink]="['/user/bet/', auction.id]" [disabled]="!IsActive()">Bid</button>
    </div>
    <div class="auction__information--action" *ngIf="!loggedIn">
      <span>If you want to take part in the auction or buy a car you must </span>
      <a [routerLink]="['/auth/login']">log in</a>
    </div>
  </div>
</div>
